<template>
  <v-container fluid ma-0 pa-0>
    <!-- Top Card description -->
    <v-row>
      <v-col class="ma-0 pa-0">
        <v-card>
          <v-img height="800" :src="images.topCard" />
        </v-card>
      </v-col>
    </v-row>

    <!-- form -->
    <v-row>
      <v-col class="ma-0 pa-0">
        <v-card class="px-5">
          <v-row align="center" justify="center">
            <!-- Description -->
            <v-col class="text-center" cols="4">
              <p id="subtitle">{{ $t('menu.contact') }}</p>
              <p id="content">
                {{ $t('contact.title') }}
              </p>
              <p id="content">
                {{ $t('contact.subtitle') }}
              </p>
              <p id="content"><v-icon>mdi-phone</v-icon> (514)386-9614</p>
            </v-col>

            <!-- Form -->
            <v-col cols="6">
              <v-form ref="form" lazy-validation>
                <!-- First and last name -->
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="contact.lName"
                      :rules="[(v) => !!v || 'Item is required']"
                      outlined
                      :label="$t('contact.lName')"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="contact.fName"
                      :rules="[(v) => !!v || 'Item is required']"
                      outlined
                      :label="$t('contact.fName')"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <!-- Email address -->
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="contact.email"
                      :rules="[(v) => !!v || 'Item is required']"
                      outlined
                      :label="$t('contact.email')"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <!--message content -->
                <v-row>
                  <v-col>
                    <v-textarea
                      v-model="contact.message"
                      :rules="[(v) => !!v || 'Item is required']"
                      :label="$t('contact.message')"
                      outlined
                    />
                  </v-col>
                </v-row>

                <!-- Submit -->
                <v-row justify="center">
                  <v-col cols="2">
                    <v-btn id="button" color="red" dark @click="sendEmail">
                      {{ $t('contact.send') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"
></script>
<script type="text/javascript">
;(function() {
  emailjs.init('user_UuXoux2hkWJqvc5XDyGTe')
})()
</script>

<script>
import emailjs from 'emailjs-com'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)
export default {
  data: () => ({
    images: {
      topCard: require('~/static/images/New-Swatt.jpg')
    },
    contact: {
      fName: '',
      lName: '',
      email: '',
      message: ''
    }
  }),
  methods: {
    sendEmail() {
      if (this.$refs.form.validate()) {
        axios
          .post('https://api.emailjs.com/api/v1.0/email/send', {
            service_id: 'gmail',
            template_id: ' template_pqxy4cCt',
            user_id: 'user_Ghec46XrXM7LifcWS2wQ6',
            template_params: this.contact
          })
          .then(() => this.$refs.form.reset())

        /*
          'gmail',
            'template_V8tTYaKk',
            this.contact,
            'user_UuXoux2hkWJqvc5XDyGTe'
        */
      }
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
#header {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: white;
  font-size: 5em;
}

#presentation {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: white;
  font-size: 4em;
}

#button {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 1.5em;
}

#title {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2.5em;
}

#subtitle {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2em;
}

#content {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
</style>
