<template>
  <v-container fluid ma-0 pa-0>
    <!-- Top Card detail -->
    <v-row>
      <v-col>
        <v-card>
          <v-img height="700" :src="images.topCard">
            <v-row align="center" class="fill-height">
              <v-col cols="12">
                <!-- Inner container -->
                <v-container>
                  <v-row>
                    <v-col>
                      <p id="header" class="text-center">
                        {{ $t('swatt') }}
                      </p>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-img>
        </v-card>
      </v-col>
    </v-row>

    <!-- Top Card detail -->
    <v-row class="text-center">
      <v-col>
        <p id="subtitle">{{ $t('service.title') }}</p>
      </v-col>
    </v-row>

    <!-- Main row -->
    <v-row justify="center">
      <!-- Main col -->
      <v-col cols="8">
        <!-- Sterilize section -->
        <v-row align="center">
          <v-col cols="4">
            <v-img height="300" :src="images.cleaning" />
          </v-col>
          <v-col cols="6">
            <p id="subtitle2">{{ $t('service.sterilizationTitle') }}</p>
            <p id="content">{{ $t('service.sterilizationContent') }}</p>
          </v-col>
        </v-row>

        <!-- Extermination Section -->
        <v-row align="center">
          <v-col cols="6">
            <p id="subtitle2">{{ $t('service.exterminationTitle') }}</p>
            <p id="content">{{ $t('service.exterminationContent') }}</p>
          </v-col>
          <v-col cols="4">
            <v-img height="300" :src="images.killing" />
          </v-col>
        </v-row>

        <!-- Bedbugs section -->
        <p id="subtitle" class="text-center">
          {{ $t('service.explanations.title') }}
        </p>
        <p id="subtitle2" class="text-center">
          {{ $t('service.explanations.section1.title') }}
        </p>
        <v-row justify="center" align="center">
          <v-col cols="4">
            <v-img height="300" :src="images.bedbugs" />
          </v-col>
          <v-col cols="6" offset="1">
            <ul>
              <li>{{ $t('service.explanations.section1.enum1') }}</li>
              <li>{{ $t('service.explanations.section1.enum2') }}</li>
              <li>{{ $t('service.explanations.section1.enum3') }}</li>
              <li>{{ $t('service.explanations.section1.enum4') }}</li>
              <li>{{ $t('service.explanations.section1.enum5') }}</li>
              <li>{{ $t('service.explanations.section1.enum6') }}</li>
              <li>{{ $t('service.explanations.section1.enum7') }}</li>
              <li>{{ $t('service.explanations.section1.enum8') }}</li>
            </ul>
          </v-col>
        </v-row>
        <p id="subtitle2" class="text-center">
          {{ $t('service.explanations.section2.title') }}
        </p>
        <v-row justify="center" align="center">
          <v-col cols="6">
            <ul>
              <li>{{ $t('service.explanations.section2.enum1') }}</li>
              <li>{{ $t('service.explanations.section2.enum2') }}</li>
              <li>{{ $t('service.explanations.section2.enum3') }}</li>
              <li>{{ $t('service.explanations.section2.enum4') }}</li>
              <li>{{ $t('service.explanations.section2.enum5') }}</li>
            </ul>
          </v-col>
          <v-col cols="4" offset="1">
            <v-img height="300" :src="images.eggs" />
          </v-col>
        </v-row>
        <p id="content" class="text-center">
          {{ $t('service.explanations.section3.head') }}
        </p>
        <p id="subtitle2" class="text-center">
          {{ $t('service.explanations.section3.title') }}
        </p>
        <v-row justify="center" align="center">
          <v-col cols="4">
            <v-img height="300" :src="images.clothes" />
          </v-col>
          <v-col cols="6" offset="1">
            <ul>
              <li>{{ $t('service.explanations.section3.enum1') }}</li>
              <li>{{ $t('service.explanations.section3.enum2') }}</li>
              <li>{{ $t('service.explanations.section3.enum3') }}</li>
              <li>{{ $t('service.explanations.section3.enum4') }}</li>
              <li>{{ $t('service.explanations.section3.enum5') }}</li>
              <li>{{ $t('service.explanations.section3.enum6') }}</li>
              <li>{{ $t('service.explanations.section3.enum7') }}</li>
            </ul>
          </v-col>
        </v-row>
        <p id="content" class="text-center">
          {{ $t('service.explanations.section4.head') }}
        </p>
        <p id="subtitle2" class="text-center">
          {{ $t('service.explanations.section4.title') }}
        </p>
        <v-row justify="center" align="center">
          <v-col cols="6">
            <ul>
              <li>{{ $t('service.explanations.section4.enum1') }}</li>
              <li>{{ $t('service.explanations.section4.enum2') }}</li>
              <li>{{ $t('service.explanations.section4.enum3') }}</li>
              <li>{{ $t('service.explanations.section4.enum4') }}</li>
              <li>{{ $t('service.explanations.section4.enum5') }}</li>
              <li>{{ $t('service.explanations.section4.enum6') }}</li>
              <li>{{ $t('service.explanations.section4.enum7') }}</li>
              <li>{{ $t('service.explanations.section4.enum8') }}</li>
              <li>{{ $t('service.explanations.section4.enum9') }}</li>
              <li>{{ $t('service.explanations.section4.enum10') }}</li>
            </ul>
          </v-col>
          <v-col cols="4" offset="1">
            <v-img height="300" :src="images.sofa" />
          </v-col>
        </v-row>
        <p id="content" class="text-center">
          {{ $t('service.explanations.section4.foot') }}
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    images: {
      topCard: require('~/static/images/time-to-get-to-work=-swatt.jpg'),
      cleaning: require('~/static/images/cleaning.jpg'),
      killing: require('~/static/images/exterminator2.jpg'),
      bedbugs: require('~/static/images/bedbugs-gen.jpg'),
      eggs: require('~/static/images/bedbugs-eggs.jpg'),
      clothes: require('~/static/images/clothes.jpg'),
      sofa: require('~/static/images/sofa.jpg')
    },
    sterilizeDetail: false,
    exterminationDetail: false
  })
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
#header {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: white;
  font-size: 5em;
}

#presentation {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: white;
  font-size: 4em;
}

#button {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 1.5em;
}

#title {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2.5em;
}

#subtitle {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2em;
}
#subtitle2 {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 1.5em;
}
#content {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
#cardtitle {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: #f2f2f2;
  font-size: 1.7em;
}

#content {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}

li {
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}
</style>
