<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title id="headTitle">
        {{ this.$t('swatt') }}
      </v-toolbar-title>
      <v-img max-height="50" max-width="100" :src="images.flag" class="ml-5" />
      <v-img
        max-height="50"
        max-width="75"
        :src="images.flag_qc"
        class="ml-5"
      />

      <v-spacer></v-spacer>

      <v-btn
        :text="!isCurrent('/')"
        :outlined="isCurrent('/')"
        @click="goTo('/')"
      >
        {{ this.$t('menu.home') }}
      </v-btn>

      <v-btn
        :text="!isCurrent('/about')"
        :outlined="isCurrent('/about')"
        @click="goTo('/about')"
      >
        {{ this.$t('menu.about') }}
      </v-btn>

      <v-btn
        :text="!isCurrent('/services')"
        :outlined="isCurrent('/services')"
        @click="goTo('/services')"
      >
        {{ this.$t('menu.service') }}
      </v-btn>

      <v-btn
        :text="!isCurrent('/contact')"
        :outlined="isCurrent('/contact')"
        @click="goTo('/contact')"
      >
        {{ this.$t('menu.contact') }}
      </v-btn>

      <v-btn text @click="switchLanguage(lang)">
        {{ lang }}
      </v-btn>
    </v-app-bar>
    <v-container fluid ma-0 pa-0>
      <nuxt />
    </v-container>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      currentPage: this.$router.currentRoute.path,
      images: {
        flag: require('~/static/images/flag-canada.svg'),
        flag_qc: require('~/static/images/Flag_of_Quebec.svg')
      },
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  computed: {
    ...mapGetters({
      // map `this.doneCount` to `this.$store.getters.doneTodosCount`
      lang: 'language/language'
    }),
    lang() {
      return this.$i18n.locale === 'en' ? 'FR' : 'EN'
    }
  },
  watch: {
    $route(to, from) {
      this.currentPage = to.path
    }
  },
  beforeMount() {
    this.$i18n.locale = this.lang.toLowerCase()
  },
  methods: {
    isCurrent(page) {
      if (this.currentPage !== page) {
        return false
      }
      return true
    },

    goTo(page) {
      if (this.$router.currentRoute.path !== page) {
        this.$router.push(page)
      }
    },

    switchLanguage(newLang) {
      this.$i18n.locale = newLang.toLowerCase()
      this.$store.dispatch('language/changeLanguageA')
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#headTitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  color: #db0016;
}
</style>
