<template>
  <v-container fluid ma-0 pa-0>
    <!-- Top Card description -->
    <v-row>
      <v-col>
        <v-card>
          <v-parallax height="800" :src="images.sample1">
            <v-row align="center" class="fill-height">
              <v-col cols="12">
                <!-- Inner container -->
                <v-container>
                  <v-row>
                    <v-col>
                      <p id="header" class="text-center">
                        {{ $t('swatt') }}
                      </p>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <p id="presentation" class="text-center">
                        {{ $t('home.title') }}
                      </p>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-parallax>
        </v-card>
      </v-col>
    </v-row>

    <!-- Explaning text -->
    <v-row>
      <v-col class="text-center">
        <p id="subtitle">{{ $t('about.title') }}</p>
        <p id="content" class="mx-10">
          {{ $t('about.content') }}
        </p>
        <p id="content" class="mx-3">
          {{ $t('about.mission') }}
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    images: {
      topCard: require('~/static/images/people_1.jpg'),
      sample1: require('~/static/images/female-doctor-swatt.jpg')
    }
  })
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
#header {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: red;
  font-size: 5em;
}

#presentation {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: red;
  font-size: 4em;
}

#button {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 1.5em;
}

#title {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2.5em;
}

#subtitle {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2em;
}

#content {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
</style>
