<template>
  <v-container fluid ma-0 pa-0>
    <v-snackbar v-model="snackbar">
      {{ $t('covid') }}
      <v-btn color="red" text @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
    <!-- Top Card description -->
    <v-row>
      <v-col class="ma-0 pa-0">
        <v-card>
          <v-parallax height="700" :src="images.sample1">
            <v-row align="center" class="fill-height">
              <v-col cols="12">
                <!-- Inner container -->
                <v-container>
                  <v-row>
                    <v-col>
                      <p id="header" class="text-center">
                        {{ $t('swatt') }}
                      </p>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <p id="presentation" class="text-center">
                        {{ $t('home.title') }}
                      </p>
                    </v-col>
                  </v-row>
                  <v-row justify="center">
                    <v-col cols="2">
                      <v-btn id="button" dark color="red" to="about">
                        {{ $t('menu.about') }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-parallax>
        </v-card>
      </v-col>
    </v-row>

    <!-- Services -->
    <v-row style="background-color: #f5f5f5">
      <v-col class="text-center ma-0 pa-0">
        <p id="title">Services</p>
        <p id="content">
          {{ $t('home.service') }}
        </p>
        <v-row justify="center">
          <v-col cols="4">
            <v-card>
              <v-container>
                <v-row justify="center">
                  <v-col>
                    <v-row justify="center">
                      <v-col cols="2">
                        <v-img width="100" :src="images.bugs" />
                      </v-col>
                    </v-row>
                    <p id="subtitle">{{ $t('home.exterminationTitle') }}</p>
                    <p id="content">
                      {{ $t('home.exterminationContent') }}
                    </p>
                    <v-btn id="button" dark color="red" to="services">
                      {{ $t('more') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>

          <v-col cols="4">
            <v-card>
              <v-container>
                <v-row justify="center">
                  <v-col>
                    <v-row justify="center">
                      <v-col cols="2">
                        <v-img width="100" :src="images.disinfect" />
                      </v-col>
                    </v-row>
                    <p id="subtitle">{{ $t('home.sterilizationTitle') }}</p>
                    <p id="content">
                      {{ $t('home.sterilizationContent') }}
                    </p>
                    <v-btn id="button" dark color="red" to="services">
                      {{ $t('more') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <!-- Contacts -->
    <v-row justify="center" align="center">
      <v-col cols="4">
        <v-row>
          <v-col id="title" class="text-center">
            {{ $t('menu.contact') }}
          </v-col>
        </v-row>
        <v-row>
          <v-col id="content">
            <p class="text-center">
              {{ $t('home.contact') }}
            </p>
            <p class="text-center"><v-icon>mdi-phone</v-icon> (514) 386-9614</p>
            <v-row justify="center">
              <v-col cols="6">
                <v-btn id="sm-button" dark color="red" to="contact">
                  {{ $t('write') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="5">
        <v-card>
          <GMap
            ref="gMap"
            :cluster="{ options: { styles: clusterStyle } }"
            :center="{ lat: locations[0].lat, lng: locations[0].lng }"
            :options="{ fullscreenControl: false, styles: mapStyle }"
            :zoom="15"
          >
            <GMapMarker
              v-for="location in locations"
              :key="location.id"
              :position="{ lat: location.lat, lng: location.lng }"
              :options="{
                icon:
                  location === currentLocation
                    ? pins.selected
                    : pins.notSelected
              }"
              @click="currentLocation = location"
            >
              <GMapInfoWindow>
                <code> lat: {{ location.lat }}, lng: {{ location.lng }} </code>
              </GMapInfoWindow>
            </GMapMarker>
          </GMap>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    images: {
      topCard: require('~/static/images/people_1.jpg'),
      sample1: require('~/static/images/medical-professional-Swatt.jpg'),
      bugs: require('~/static/images/bugs.png'),
      disinfect: require('~/static/images/disinfect.png')
    },
    snackbar: true,
    currentLocation: {},
    locations: [
      {
        lat: 45.59246,
        lng: -73.54338
      },
      {
        lat: 45.59246,
        lng: -73.54338
      },
      {
        lat: 45.59246,
        lng: -73.54338
      }
    ],
    pins: {
      selected: 'data:image/png;base64,iVBORw0KGgo...',
      notSelected: 'data:image/png;base64,iVBORw0KGgo...'
    },
    mapStyle: [],
    clusterStyle: [
      {
        url:
          'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
        width: 56,
        height: 56,
        textColor: '#fff'
      }
    ]
  })
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
#header {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: white;
  font-size: 5em;
}

#presentation {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  color: white;
  font-size: 4em;
}

#button {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 1.5em;
}
#sm-button {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 1em;
}

#title {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2.5em;
}

#subtitle {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
  font-size: 2em;
}

#content {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
</style>
